<!-- Toggle Button (outside sidebar) -->
<button id="open-sidebar" class="toggle-btn">☰</button>
<div class="dark-shawod"></div>

<div class="container">
  <!-- Sidebar -->
  <div class="side-menu" id="sidebar">
    <div class="side-menu-btn">
      <button id="close-sidebar">X</button>
    </div>
    <div class="logo title">🌦️ Weathrly</div>
    <div class="side-menu-bar">
      <nav>
        <a href="index.html">Home</a>
        <a href="">Forecast</a>
        <a href="">Predict The Future</a>
      </nav>
      <nav>
        <a href="">⚙️ Settings/Profile</a>
        <a href="">📄 Privacy Policy / Terms</a>
        <a href=""><i class="fa-solid fa-circle-half-stroke"></i> Theme Switch</a>
      </nav>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <div class="logo title">🌦️ Weathrly</div>
    <nav class="header-links">
      <a href="index.html">Home</a>
      <a href="#about">About</a>
      <a href="register.html">Register</a>
      <a href="" style="text-decoration: underline;">Predict The Future</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
</div>

<script src="../javaScript/script.js"></script>